includes:
    - %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
  ignoreErrors:
    - '#Access to an undefined property Cookie\:\:\$id_lang.#'
    - '~^Call to an undefined static method Store::atLeastOneStoreExists\(\)\.$~'
